---
layout: page
permalink: /database/face-masks/
title: Face Masks
description: Every face mask and how to obtain them.
---

<section class="database-masks">
	<h1>{{ page.title }}</h1>
	<p>{{ page.description }}</p>
</section>

<section class="face-masks">
	{%- assign masks = site.data.vanity_masks | sort: "name" -%}
	{% for mask in masks %}
		<div class="item-container">
			<div class="event-container">
				<div class="name">{{ mask.event }}</div>
				{% if mask.commendation %}
					<div class="commendation">{{ mask.commendation }}</div>
				{% endif %}
			</div>
			<hr>
			<div class="objective-container">
				<div class="title">Objective</div>
				{% if mask.objective.description %}
					<div class="desc">{{ mask.objective.description }}</div>
				{% else %}
					<div class="desc">{{ mask.objective }}</div>
				{% endif %}
			</div>
			{% if mask.objective.conditions %}
				<div class="conditions-container">
					<div class="title">Conditions</div>
					<ul class="conditions">
						{% for condition in mask.objective.conditions %}
							<li>{{ condition }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<div class="mask-container">
				<div class="title">Reward</div>
				<div class="name">{{ mask.name }}</div>
				<div class="sprite {{ mask.name | downcase }}" role="presentation"></div>
			</div>
		</div>
	{% endfor %}
</section>
