@use 'sass:list';
@use 'sass:map';

@use 'variables' as *;

/// :hover and :focus events wrapper
/// @link https://gist.github.com/pepelsbey/a2bb3f6b44c4a4729dcc
/// @link https://gist.github.com/chriseppstein/0a029e581609321f6012
/// @example scss - Event wrapper
///   @include hocus {
///     color: rgba(255, 128, 0, 1);
///   }
@mixin hocus {
  &:hover,
  &:focus {
    @content;
  }
}

/// Reduced motion media query
/// @example scss - Motion preference media query
///   @include reduced-motion {
///     animation: none;
///   }
@mixin reduced-motion {
  @media screen and (prefers-reduced-motion: reduce) {
    @content;
  }
}

/// Responsive breakpoints manager
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
/// @link https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
/// @example scss - Breakpoint mixin
///   @include respond-to('small') {
///     display: none;
///   }
@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media screen and (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error 'No value found for #{$breakpoint}. Available breakpoints are: #{map.keys($breakpoints)}.';
  }
}

/// Sprites positioner
/// @param {String} $spritesheet - Filename of the sprite sheet, relative to img/sprites/
/// @param {Length} $width - Sprite width
/// @param {Length} $height - Sprite height
/// @param {Map} $positions - Map of sprite and position pairs
/// @param {List} $defaultpos Optional fallback position
/// @example scss - Spritesheet mixin
///   @include spritesheet('w_talents.png', 96px, 96px, $weapon-talent-sprites, (-576px, -576px));
@mixin spritesheet($spritesheet, $width, $height, $positions, $defaultpos: null) {
  width: $width;
  height: $height;
  background-image: url('#{$base-url}img/sprites/#{$spritesheet}');
  background-repeat: no-repeat;
  @if $defaultpos {
    background-position: list.nth($defaultpos, 1) list.nth($defaultpos, 2);
  }
  @each $sprite, $pos in $positions {
    &.#{$sprite} {
      background-position: list.nth($pos, 1) list.nth($pos, 2);
    }
  }
}

/// The Division background
/// @param {String} $color - Background color
/// @param {Length} $size - Size of the square dots at each corner
/// @link https://github.com/DivisionBuilds/divisionbuilds.github.io/blob/b0af897/css/division.scss#L157
/// @example scss - The Division Background mixin
///   @include td-background;
///   @include td-background($size: 3px);
@mixin td-background($color: var(--default-bg-color--clearest), $size: 2px) {
  background:
    linear-gradient(rgba(244, 255, 255, 0.2), rgba(244, 255, 255, 0.2) 0) no-repeat,
    linear-gradient(rgba(244, 255, 255, 0.2), rgba(244, 255, 255, 0.2) 0) top right no-repeat,
    linear-gradient(rgba(244, 255, 255, 0.2), rgba(244, 255, 255, 0.2) 0) bottom left no-repeat,
    linear-gradient(rgba(244, 255, 255, 0.2), rgba(244, 255, 255, 0.2) 0) bottom right no-repeat
  ;
  background-color: $color;
  background-size: $size $size;
}
