<header itemscope itemtype="http://schema.org/WPHeader">
	<nav aria-label="Main navigation">
		<h1 class="title">
			<a href="{{ '/' | relative_url }}" translate="no">
				{%- assign title = site.meta.title | split: " " -%}
				<strong class="title__emphasis">{{ title[0] }}</strong>
				{{ title[1] }}
			</a>
		</h1>
		{% if page.layout == "page" -%}
			<a href="{{ '/' | relative_url }}" translate="no">Home</a>
		{% endif %}
		{% unless page.url == "/builds/" -%}
			<a href="{{ '/builds/' | relative_url }}">Builds</a>
		{% endunless %}
		{% unless page.url == "/database/" -%}
			<a href="{{ '/database/' | relative_url }}">Database</a>
		{% endunless %}
	</nav>
	{% if page.layout == "builder" -%}
		<div class="actions">
			<button class="share" id="share-build">
				<div class="icon">
					{% include icons/share.svg %}
				</div>
				<span class="text">Share</span>
			</button>
			<button class="issue" id="app-issues">
				<div class="icon">
					{% include icons/alert.svg %}
				</div>
				<span class="text">Issues?</span>
			</button>
		</div>
	{% endif %}
</header>
