---
layout: page
permalink: /builds/
title: Find Builds
description: Find builds for The Division made by the community.
---

<section class="builds" aria-labelledby="title-builds">
	<h1 id="title-builds">Builds</h1>
	<p>
		{{ page.description }}
		You can also <a href="/submit/">submit your own</a>.
	</p>
</section>

{% if site.data.builds_ugc %}
	<div class="search-container">
		<input class="search" id="search" placeholder="Search builds" aria-label="Search builds">
		<div class="visually-hidden" id="search-status" aria-live="polite"></div>
	</div>
	<div class="cards" role="list">
		{%- assign builds = site.data.builds_ugc -%}
		{%- assign featured_builds = site.data.builds_ugc | where_exp: "builds", "builds.featured == true" -%}
		{%- assign other_builds = site.data.builds_ugc | where_exp: "builds", "builds.featured == nil" -%}
		{%- assign sorted_builds = featured_builds | concat: other_builds -%}
		{% for build in sorted_builds %}
			<a href="{{ build.url }}" class="card build" role="listitem">
				<article class="card-container" aria-labelledby="build-title__{{ forloop.index }}">
					<hgroup class="build-title">
						<h2 class="build-title__name" id="build-title__{{ forloop.index }}">{{ build.title }}</h2>
						{% if build.featured == true %}
							<div class="icon" aria-label="Featured">
								{% include icons/trophy.svg %}
							</div>
						{% endif %}
					</hgroup>
					<div class="build-author">
						<span class="build-author__text">Author:</span>
						<span class="build-author__name">{{ build.author }}</span>
					</div>
					<ul class="build-tags">
						{%- assign sorted_tags = build.tags | sort_natural -%}
						{% for t in sorted_tags %}
							<li class="build-tag">{{ t }}</li>
						{% endfor %}
					</ul>
				</article>
			</a>
		{% endfor %}
	</div>
{% else %}
	<p>There are currently no builds.</p>
{% endif %}
