@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

footer {
  bottom: 0;
  z-index: z('footer');
  place-content: center space-between;
  height: px2rem(32px);
  font-size: 0.875em;
  a,
  .version {
    opacity: 0.7;
  }
  nav {
    .separator {
      opacity: 0.3;
    }
  }
  .version {
    cursor: help;
  }
}
