@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

header {
  top: 0;
  z-index: z('header');
  align-items: center;
  justify-content: space-between;
  height: px2rem(64px);
  nav {
    display: flex;
    flex-flow: row wrap;
    gap: px2rem(14px);
    @include respond-to('smaller') {
      gap: px2rem(7px);
    }
    align-items: center;
    a {
      opacity: 0.9;
    }
    .title {
      font-size: px2rem(32px);
      @include respond-to('small') {
        font-size: px2rem(20px);
      }
      a {
        opacity: 1;
      }
      &__emphasis {
        color: var(--brand-color);
      }
    }
  }
  .actions {
    display: flex;
    flex-flow: row wrap;
    gap: px2rem(8px);
    .issue {
      color: var(--wing-tech);
    }
    .icon {
      --icon-size: 1.125em;
      display: inline-flex;
      flex-flow: row wrap;
      height: var(--icon-size);
      vertical-align: text-top;
      svg {
        width: var(--icon-size);
        max-width: 100%;
        height: auto;
        max-height: 100%;
        fill: currentColor;
      }
    }
    .text {
      @include respond-to('small') {
        display: none;
      }
    }
  }
}
