@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/variables' as *;

html {
  font-family: $font-stack-text;
  font-size: 112.5%;
  @include respond-to('larger') {
    font-size: 100%;
  }
}

body {
  --margin: 2rem;
  // Header height + Desired margin
  margin-top: calc(px2rem(64px) + var(--margin));
  // Footer height + Desired margin
  margin-bottom: calc(px2rem(32px) + var(--margin));
  color: var(--default-text-color);
  background-color: var(--default-bg-color);
  &::before {
    position: fixed;
    inset: -20px;
    z-index: z('background');
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter:
      blur(5px)
      brightness(35%)
    ;
  }
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

a {
  color: var(--brand-color);
  text-decoration: none;
}

button {
  font-family: inherit;
  touch-action: manipulation;
  cursor: pointer;
  border: 0;
  &:focus-visible {
    outline: 1px solid var(--brand-color--lighter);
    outline-offset: -1px;
  }
  &:not(
    [id^='wp-'],
    [id^='gp-'],
    [id^='skill'],
    [id^='talent'],
    [class^='gear'],
    [class$='talent'],
    .build-name,
    .weapon,
    .mod,
    .attr,
    .skill
  ) {
    padding: px2rem(6px) px2rem(12px);
    font-size: px2rem(16px);
    color: var(--default-text-color);
    background:
      linear-gradient(rgba(244, 255, 255, 0.2), rgba(244, 255, 255, 0.2) 0) no-repeat,
      linear-gradient(rgba(244, 255, 255, 0.2), rgba(244, 255, 255, 0.2) 0) top right no-repeat,
      linear-gradient(rgba(244, 255, 255, 0.2), rgba(244, 255, 255, 0.2) 0) bottom left no-repeat,
      linear-gradient(rgba(244, 255, 255, 0.2), rgba(244, 255, 255, 0.2) 0) bottom right no-repeat
    ;
    background-color: var(--default-bg-color--clearest);
    background-size: 2px 2px;
    // Don't use hocus mixin because when clicking the button
    // it will not return to the default state
    // stylelint-disable-next-line a11y/selector-pseudo-class-focus
    &:hover {
      background-color: var(--default-bg-color--clearer);
    }
  }
}

// Visually hide content
// https://vispero.com/resources/the-anatomy-of-visually-hidden/
// stylelint-disable declaration-no-important, unit-disallowed-list
.visually-hidden:not(
  :focus,
  :active
) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  clip-path: inset(50%) !important;
}
// stylelint-enable declaration-no-important, unit-disallowed-list
